name: Unit tests

on:
  pull_request:
    paths:
      - '.github/workflows/test.yaml'
      - 'celina.nim'
      - 'celina.nimble'
      - 'celina/**'
      - 'examples/**'
      - 'tests/**'
  push:
    paths:
      - '.github/workflows/test.yaml'
      - 'celina.nim'
      - 'celina.nimble'
      - 'celina/**'
      - 'examples/**'
      - 'tests/**'
    branches:
      - main

permissions:
  contents: read

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        os:
          - 'ubuntu-latest'
          - 'macOS-latest'
        nim-version:
          - '2.0.2'
          - '2.0.16'
          - 'stable'
          - 'devel'

    name: Tests on ${{ matrix.nim-version }} (${{ matrix.os }})
    steps:
      - uses: actions/checkout@v6

      - name: Cache nimble
        id: cache-nimble
        uses: actions/cache@v4
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-v2-${{ hashFiles('*.nimble') }}
          restore-keys: |
            ${{ runner.os }}-nimble-v2-

      - name: Setup Nim (stable/release)
        uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: ${{ matrix.nim-version }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
        if: matrix.nim-version != 'devel'

      - name: Setup Nim (devel)
        uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: ${{ matrix.nim-version }}
          use-nightlies: true
          repo-token: ${{ secrets.GITHUB_TOKEN }}
        if: matrix.nim-version == 'devel'

      - name: Install chronos
        run: nimble install chronos -y

      - name: Run tests
        run: nimble test -y

      - name: Build examples
        run: |
          nimble install
          for f in examples/*.nim; do if [[ "$f" == *"async"* ]]; then nim c -d:asyncBackend=chronos "$f"; else nim c "$f"; fi; done

          nimble uninstall celina -y
